.section {
	max-width: 100%;
	min-height: 300px;
	&.modal {
		max-width: 500px;
	}
	.section-headline {
		text-transform: uppercase;
		font-weight: 300;
		font-size: $fontxlarger;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.section-subheader {
		font-weight: 600;
		color: $blue;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.section-subtitle {
		font-size: $fontmobile;
		font-style: italic;
	}
	.center {
		text-align: center;
	}
	.right { float: right }
	.left { float: left }
	&.no-pad {
		padding: 0;
		> .columns {
			padding-left: 80px;
			padding-top: 80px;
		}
	}
	.fixed { position: fixed }
	.separator-left {
		&.columns { min-height: 100vh; }
		border-left: 1px solid $gray;
	}
	.separator-right {
		&.columns { min-height: 100vh; }
		border-right: 1px solid $gray;
	}
}

.form-section {
	padding: 30px;
	&.blue {
		background-color: $lightblue;
	}
	.section-subtitle {
		font-size: $fontmobile;
	}
}


.section-white {
	color: $black;
	padding-top: 50px;
	padding-bottom: 80px;
}

.section-blue {
	color: $white;
	padding-top: 50px;
	padding-bottom: 80px;
	background-color: $blue;
	@include gradient($blue, darken($blue, 10%));
}


@include tablet {
	.section.no-pad {
		> .columns {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}


.section-post {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	.section-subheader {
		border-bottom: 1px solid $gray;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.section-subtitle {
		margin-bottom: 15px;
	}
	&+ .section-post {
		margin-top: 70px;
	}
}


.link-list {
	ul {
		margin-left: 10px;
	}
	a {
		font-size: $fontmobile;
	}
}
@include tablet {
	.section {
		.separator-left {
			&.columns { min-height: 100px; }
			border: 0;
			border-top: 1px solid $gray;
		}
		.section-headline {
			text-align: center;
			line-height: $linehuge;
		}
	}
	.link-list {
		a {
			line-height: $linehuge;
			font-size: $fontmobile;
			padding: 10px;
			width: 100%;
			background-color: $lightblue;
		}
	}
}

::-webkit-scrollbar {
  width: 10px;
  border-radius:4px;
  height: 2em;
}
::-webkit-scrollbar:hover {
  width: 10px;
  border-radius:4px;
  height: 2em;
}

::-webkit-scrollbar-thumb {
  background: $blue;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,255,0);
}

body {
  scrollbar-face-color: $blue;
  background: rgba(255,255,255,0);
}