.section {
	max-width: 100%;
	min-height: 300px;
	.section-headline {
		text-transform: uppercase;
		font-weight: 300;
		font-size: $fontxlarger;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	.section-subheader {
		font-weight: 600;
		color: $blue;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.section-subtitle {
		font-size: $fontmobile;
		font-style: italic;
	}
	.center {
		text-align: center;
	}
	&.no-pad {
		padding: 0;
		> .columns {
			padding-left: 80px;
			padding-top: 80px;
		}
	}
}



.section-white {
	color: $black;
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-blue {
	color: $white;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: $blue;
	@include gradient($blue, darken($blue, 10%));
}






::-webkit-scrollbar {
  width: 10px;
  border-radius:4px;
  height: 2em;
}
::-webkit-scrollbar:hover {
  width: 10px;
  border-radius:4px;
  height: 2em;
}

::-webkit-scrollbar-thumb {
  background: $blue;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,255,0);
}

body {
  scrollbar-face-color: $blue;
  background: rgba(255,255,255,0);
}