.footer {
	height: 300px;
	background: $blue;
	color: $white;
}

.footer-container {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid white;
	.footer-link-list {
		.footer-link {
			color: white;
		}
	}
	> .columns {
			border-right: 1px solid white;
		&:first-of-type {
			border-right: 1px solid white;
		}
		&:last-of-type {
			border: 0;
		}
	}
}