.section-blue.footer {
	height: 250px;
	background: $blue;
	color: $white;
	padding-top: 40px;
}

.footer-copyright {
	margin-top: 20px;
	text-align: right;
}

.footer-container {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid white;
	.footer-link-list {
		.footer-link {
			color: white;
			line-height: $linelarger
			&:hover {
				
			}
		}
	}
	> .columns {
			border-right: 1px solid white;
		&:first-of-type {
			border-right: 1px solid white;
		}
		&:last-of-type {
			border: 0;
		}
	}
}

@include tablet {
	.section-blue.footer {
		height: auto;
	}
	.footer-container {
		display: none;
	}
	.footer-copyright {
		width: 100%;
		text-align: center;
	}
}