.top-nav {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	background: transparent;
	display: table;
	padding-top: 5px;
	transition: all .2s ease;
	z-index: $z9;
	.nav-item {
		display: inline-block;
		line-height: 60px;
		padding: 0px 10px;
		.nav-link {
			color: white;
			padding-bottom: 5px;
			text-transform: uppercase;
			transition: color .3s ease-out;
			&:hover {
				color: $blue;
				border-bottom: 3px solid $blue;
				transition: color .3s ease-in;
			}
		}
	}	
	.nav-link-list {
		float: right;
	}
	.nav-button {
		@extend .orange-button;
		transition: all .2s ease;
	}
	.nav-logo {
		float: left;
		max-width: 300px;
		height: 60px;
	}
	&.scrolled {
		background-color: $white;
		padding-top: 6px;
		padding-bottom: 6px;
		border-bottom: 1px solid $blue;
		transition: all .2s ease;
		.nav-button {
			@extend .blue-button;
			transition: all .2s ease;
		}
		.nav-link {
			color: $blue;
			&:hover {
				color: $orange;
				border-bottom: 0;
			}
		}
	}
}