.top-nav {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	background: transparent;
	display: table;
	padding-top: 5px;
	transition: all .2s ease;
	z-index: $z9;
	.nav-item {
		display: inline-block;
		line-height: 60px;
		padding: 0px 10px;
		ul {
			margin: 0;
		}
		.nav-link {
			color: white;
			padding-bottom: 5px;
			text-transform: uppercase;
			transition: color .1s ease-out;
			font-size: 1em;
			&:hover {
				color: $blue;
				border-bottom: 3px solid $blue;
				transition: color .1s ease-in;
			}
		}
	}	
	.nav-link-list {
		float: right;
	}
	.nav-button {
		@extend .orange-button;
		transition: all .2s ease;
	}
	.nav-logo {
		float: left;
		max-width: 350px;
		height: 60px;
		width: 350px;
	}
	&.scrolled {
		background-color: $white;
		padding-top: 6px;
		padding-bottom: 6px;
		border-bottom: 1px solid $blue;
		transition: all .2s ease;
		.nav-button {
			@extend .blue-button;
			transition: all .2s ease;
		}
		.nav-link {
			color: $blue;
			&:hover {
				color: $orange;
				border-bottom: 0;
			}
		}
	}
}

object.scrolled {
	svg {
	.logo-1{fill:$blue;}
	.logo-2{stroke:$blue;}
	}
}

@include desktop {
	.top-nav .nav-logo {
		max-width: 300px;
	}
	.nav-item {
		padding: 0 5px;
		a {
			font-size: $fontmobile;
		}
	}
}




.mobile-nav {
	.nav-link-list-mobile {
		width: 100%;
		background-color: $black;
		color: $white;
		position: fixed;
		top: 0;
		padding-top: 60px;
		z-index: $z9;
		text-align: center;
		transform: translate(0%,-100%);
	  transition: transform .4s $bounce;
		a {
			color: white;
		}
		.nav-item {
			display: block;
			font-weight: 400;
	    text-transform: uppercase;
	    text-align: center;
	    color: white;
	    list-style: none;
	    width: 100%;
	    padding: 15px;
	    &:last-of-type {
	    	background-color: $orange;
	    	color: white;
	    }
		}
		.nav-link {
			padding: 10px;
			font-size: 18px;
			&:hover,
			&:active {
				color: $blue;
			}
		}
	}
}

.mobile-nav.slide-open {
	.nav-link-list-mobile {
		transform: translate(0%,-10%);
	  transition: transform .8s $bounce;
	}
}
.toggle-wrapper {
	z-index: $z10;
  position: fixed;
  top: 30px;
  right: 50px;
  display: none;
}


@include tablet {
	.mobile-nav,
	.toggle-wrapper {
	  display: block;
	}
	.top-nav {
		display: none;
	}
}



#mobile-nav-toggle {
	span, 
	span:before, 
	span:after {
	  cursor: pointer;
	  border-radius: 1px;
	  height: 5px;
	  width: 35px;
	  background: white;
	  position: absolute;
	  content: '';
	  transition: all 500ms ease-in-out;
	}
	span:before {
	  top: -10px;
	}
	span:after {
	  bottom: -10px; 
	}
	&.active {
		span {
		  transform: rotate(90deg);
		  background: transparent;
		  &:before {
				top: 0;
				transform: rotate(45deg);
			}
		  &:after {
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}


.link-list-social-icons {
	.fa {
		margin: 0;
	}
}
@include laptop {
	.nav-item.social-items-space {
		display: none;
	}
}







