// Page specific styles

// HOME
.team-tile-image {
	min-height: 600px;
	height: 100%;
	background-color: gray;
	background-image: url('../img/team-mosaic.png');
	background-size: cover;
	background-attachment: contain;
}
@include tablet {
	.team-tile-image {
		height: 200px;
		min-height: 200px;
	}
}

.awards-grid {
	margin-top: 50px;
	margin-bottom: 50px;
	.grid-images {
		display: block;
		max-width: 200px;
		margin: 0 auto;
		opacity: .5;
		transition: all 1s ease;
		&:hover {
			cursor: pointer;
			opacity: 1;
			transition: all 1s ease;
		}
	}
}

.value-prop-links {
	margin-top: 40px;
	.value-prop-link-item {
		.icon {
			display: block;
			margin: 0 auto;
			max-width: 60px;
			fill: $blue;
		}
		span {
			display: block;
		}
		&:hover {
			color: $orange;
			.icon {
				fill: $orange;
			}
		}
	}
}
@include tablet {
	.team-tile-image {
		width: 100%;
		min-height: 250px;
	}
}

// LE Calculator 
iframe#leCalcIframe {
	width: 100%;
}


//team page
.section-bio {
	margin-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 60px;
	border-bottom: 1px solid $gray;
	span {
		display: block;
		&:last-of-type {
			margin-bottom: 15px;
		}
	}
	.bio-image {
		width: 70px;
		min-height: 70px;
		max-width: 70px;
		max-height: 80px;
		background-image: url('../img/profile-default.svg');
		background-size: cover;
	}
	.bio-name {
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.bio-title {
		font-weight: 600;
		font-style: italic;
	}
}

@include mobile {
	.section-bio {
		.bio-image {
			text-align: center;
		}
		.bio-parapgraph {
			display: none;
		}
	}
}

// services pages
.services-nav {
	margin-top: 30px;
	margin-left: 20px;
	.services-nav-item {
		width: 100%;
		display: block;
		position: relative;
		a {
			display: block;
			width: 100%;
			padding: 5px;
			font-size: $fontmobile;
			font-weight: 700;
			&.selected {
				color: $orange;
				border-left: 2px solid $orange;
			}
			&:hover {
				color: $orange;
				&:after {
					right: 0px;
					transition: right .2s ease;
				}
			}
			&:after {
				content:">"; 
				position: absolute;
				right: 10px;
				top: 5px;
				transition: right .2s ease;
			}
		}
	}
}

@include mobile {
	.services-nav {
		margin-left: 0;
		margin-top: 10px;
		.services-nav-item {
			a {
				padding: 10px;
			}
		}
	}
}



// events pages

.event-post {
	background-color: lighten($gray, 15%);
	padding: 20px;
	padding-top: 5px;
	margin: 0;
}
.event-post + .event-post {
	margin-top: 20px;
}

.event-post-image {
	margin-top: 10px;
	margin-bottom: 20px;
}

















