// Page specific styles

// HOME
.team-tile-image {
	min-height: 600px;
	height: 100%;
	background-color: gray;
	background-image: url('../img/team-mosaic.png');
	background-size: cover;
	background-attachment: contain;
}

.home-slider {
	margin-top: 50px;
	margin-bottom: 50px;
	.slider-images {
		// max-width: 100px;
		// max-height: 100px;
		// opacity: 90;
	}
}

.value-prop-links {
	margin-top: 40px;
	.value-prop-link-item {
		.icon {
			display: block;
			margin: 0 auto;
			max-width: 60px;
			fill: $blue;
		}
		span {
			display: block;
		}
		&:hover {
			color: $orange;
			.icon {
				fill: $orange;
			}
		}
	}
}
@include tablet {
	.team-tile-image {
		width: 100%;
		min-height: 250px;
	}
}

// LE Calculator 
iframe#leCalcIframe {
	width: 100%;
}


//team page
.section-bio {
	margin-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 60px;
	border-bottom: 1px solid $gray;
	span {
		display: block;
		&:last-of-type {
			margin-bottom: 15px;
		}
	}
	.bio-image {
		width: 70px;
		min-height: 70px;
		max-width: 70px;
		max-height: 80px;
		background-image: url('../img/profile-default.svg');
		background-size: cover;
	}
	.bio-name {
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.bio-title {
		font-weight: 600;
		font-style: italic;
	}
}

@include mobile {
	.section-bio {
		.bio-image {
			text-align: center;
		}
		.bio-parapgraph {
			display: none;
		}
	}
}










