html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
}
html, html a {
  -webkit-font-smoothing: antialiased !important;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  position: relative;
  font-family: $body !important;
}

// PRESET TAGS
a { text-decoration: none; }
a img { border: none; }
img {
  max-width: 100%;
/*  width: auto;
*/  height: auto;
}
ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

i {
  margin-right: 10px;
  font-size: 1em;
}
em {
  font-weight: 400px;
  font-style: italic;
}
b {
  font-weight: 600px;
  font-style: bold;
}

// TYPOGRAPHY
h1,h2 {
  font-weight: 700;
  margin: 0;
  text-transform: capitalize;
}
h3,h4,h5 {
  font-weight: 600;
}
p,ul,ol,li,a,span {
  font-weight: 400;
}
h1 {
  font-size: $fonthuge;
  line-height: $linehuge;
}
h2 {
  font-size: $fontxlarger;
  line-height: $linehuge;
}
h3 {
  font-size: $fontlarger;
  line-height: $linelarger;
  margin: 0;
}
h4 {
  font-size: $fontlarge;
  line-height: $linelarge;
  margin: 0;
}
p {
  font-size: $fontbase;
  line-height: $linebase;
}
a {
  font-size: $fontbase;
  line-height: $linebase;
  text-decoration: none;
}

@include mobile {
  h1 {
    font-size: $fontxlarger;
    line-height: $linexlarger;
  }
  h2 {
    font-size: $fontlarger;
    line-height: $linelarger;
  }
  h3 {
    font-size: $fontlarge;
    line-height: $linelarge;
  }
}